<div class="container-compromiso">
  <div class="panel">
    <h2 class="title-panel">Principios</h2>
    <ul>
      <li>Compromiso</li>
      <li>Confianza</li>
      <li>Sentido de pertenencia</li>
      <li>Efectividad</li>
      <li>Vocación de servicio Trabajo en equipo</li>
      <li>Felicidad Actitud de servicio</li>
    </ul>
    <img src="../../../../assets/image/principio.png" alt="" />
  </div>

  <div class="panel">
    <h2 class="title-panel">Valores</h2>
    <ul>
      <li>Equidad</li>
      <li>Dedicación</li>
      <li>Pasión</li>
      <li>Responsabilidad</li>
      <li>Liderazgo</li>
      <li>Amor</li>
      <li>Ética</li>
      <li>Respeto</li>
      <li>Gratitud Convicción</li>
      <li>Resiliencia</li>
    </ul>
    <img src="../../../../assets/image/grupo.png" alt="principios" />
  </div>
</div>
