.container-compromiso {
  margin: 60px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  width: 100%;
}

.panel {
  width: 400px;
  height: 600px;
  background-color: #ffffff;
  padding: 20px 10px;
  border-radius: 200px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.451), -3px -3px 5px rgba(0, 0, 0, 0.451);
  position: relative;
  overflow: hidden;
}

img {
  width: 90px;
  position: absolute;
  top: 40px;
  right: 45px;
}

.title-panel {
  margin-bottom: 30px;
  background-color: #17A3B8;
  padding: 10px;
  border-radius: 0px 50px;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  margin-top: 130px;
}

li {
  position: relative;
  padding-left: 20px;
}

li::before {
  content: "";
  position: absolute;
  background-image: url("../../../../assets/image/perla.png");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  position: absolute;
}
