<div class="container-forma-trabajo">
  <section class="panel panel-1">
    <div>
      <img class="img-numeros" src="../../../../assets/image/numero-uno.png" alt="numero-1" />
    </div>
    <h2>Nuestras metas</h2>
    <p>
      segundo periodo del año. Finca agro productiva autosostenible. Centro de
      acopio, comercializadora, transformados y procesadora, . Arenera,
      pre-fash, toletes. Peletizadora.
    </p>
  </section>
  <section class="panel panel-2">
    <div>
      <img class="img-numeros" src="../../../../assets/image/numero-2.png" alt="numero-2" />
    </div>
    <h2>Inspirar para crecer</h2>
    <p>
      Nos hemos dado cuenta que cuando inspiramos desde el ser y el hacer se
      logra el cambio que queremos ver en el mundo, por eso queremos ser los
      pioner en mostrar como hacer las cosas de una manera diferente.
    </p>
  </section>
  <section class="panel panel-3">
    <div>
      <img class="img-numeros" src="../../../../assets/image/numero-3.png" alt="numero-3" />
    </div>
    <h2>Entre todos logramso las mentas</h2>
    <p>
      El trabajo colaboritivo es la clave para el exito y con la suma de estos,
      llegar donde se desee. Equipo de trabajo & trabajo en equipo. Nuestras
      metas. segundo periodo del año. Es por eso que nuestras metas estan
      enfocadas en brindar prosperidad integral a todos y cada uno de nuestros
      clientes y colaboradores bunscando la satisfacion de sus necesidades y
      superando sus espectativas.
    </p>
  </section>
  <section class="panel panel-4">
    <div>
      <img class="img-numeros" src="../../../../assets/image/numero-cuatro.png" alt="numero-4" />
    </div>
    <h2>Equipo de trabajo & trabajo en equipo.</h2>
    <p>
      Con la mentalidad de esto dos conceptos claros lograremos alcanzar las
      metas y objetivos propuestos, que nos permitiran cumplir y realisar los
      sueños de la mano de nuestros clientes y colaboradores
    </p>
  </section>
  <section class="panel panel-5">
    <div>
      <img class="img-numeros" src="../../../../assets/image/numero-5.png" alt="numero-5" />
    </div>
    <h2>Servir con Inteligencia</h2>
    <p>
      Nos gusta servir, por que llena el alma. el alma se ciente plena cuando
      puede ver en los ojos del otro la gratitud. Es por esta razon que servimos
      y un principio que nos rige ya que en la medida que damos resibimos y
      resibimos para seguir creciendo y poder dar a mas personas.
    </p>
  </section>
  <section class="panel panel-6">
    <div><img class="img-numeros" src="../../../../assets/image/seis.png" alt="numero-6" /></div>
    <h2>El genio comparte y aprende.</h2>
    <p>
      Nuestro ahelo es poder conpartir nuestros conocimientos, ponerlos al
      servicio de la comunidad en general desarollando diversos programas,
      proyectos y estrategias que nos permitan al canzar los logros propuestos
      mejorando asi la calidad de vida de nuestros clientes y colaboradores.
    </p>
  </section>
  <section class="panel panel-7">
    <div><img class="img-numeros" src="../../../../assets/image/siete.png" alt="numero-7" /></div>
    <h2>Somos genios en servicio que conocemos</h2>
    <p>
      Somos un grupo multi disiplinario que se junta para poner sus
      conocimientos y experiencia al servicio de la comunidad utilizando la
      corporacion Oasis de Sueños como el medio que les permita llegar a las
      personas e impactar de manera significativa en su calidad de vida.
    </p>
  </section>
</div>
