.footer{
    position: relative;
    padding-top: 50px;
    overflow: hidden;
}

.footer__container{
    row-gap: 10rem;
    background-color: #36cae1;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    color: white ;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-decoration: none;
}

.footer__logo img{
    width: 130px;
}

.footer__logo:hover{
    color: black;
    transition: 1s;
    
}
.footer__description{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.footer__description,
.footer__link,
.footer__information{
    font-size: 21px;
}

.footer__content,
.footer__links{
    display: grid;
}

.footer__content{
    padding: 50px;
    padding-left: 5%;
    column-gap: 5rem;
    
    grid-template-columns: repeat(4, 1fr);/*Esto lo puede cambiar*/
}

.footer__title{
    font-size: 25px;
    margin-bottom: 1.5rem;
}

.footer__links{
    
    row-gap: 1rem;
}

.footer__link{
    color: white;
    transition: color .3s;
    font-size: 18px;
}

.footer__link:hover{
    color: rgb(21, 111, 144);
}

.footer__social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__social-link{
    color: black;
    font-size: 2rem;
    padding: 50px;
    transition: color .3s, transform .3s;
}

.footer__social-link:hover{
    color: aliceblue;
    transform: translateY(-20%);
}

.footer__information,
.footer__card{
    display: flex;
}
.footer__information{
    font-size: 20px;
}



@media screen and (max-width: 920px){
    .footer__logo{
        display: flex;
        align-items: center;
        padding: 10px;

    }
    .footer__content{
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        padding: 19px;
        column-gap: .8rem;
    }   
    .footer__links{
        padding-bottom: 40px;
    }
    .footer__link{
        font-size: 20px;
    }
}
@media screen and (min-width: 921px){
    .footer__content{
        display: flex;
        justify-content: center;
    }
    .footer__social-link{
        padding: 20px;
    }
}