<div class="container-title"></div>
<h1>
  <span class="title-dividido">Quiénes</span> somos<i
    class="fa-solid fa-question"
  ></i>
</h1>
<div class="container-contenido">
  <div class="container-text-que-somos">
    <div class="panel-txt-quienes-somos">
      <h2>Quiénes somos</h2>
      <p class="text-quienes-somos">
        Tenemos el gusto de prestarles nuestro portafolio actualizado con la
        seguridad de ofrecer productos y servicios de excelente calidad con
        madurez y respetabilidad es un honor social y empresarial.. Agradecemos
        de manera especial a todos los que contribuyen con la granconsolidación
        anhelada que esperamos lograr, juntos constituiremos un mejor futuro
        para todos y cada uno de los miembros, empresas, grupos sociales e
        instituciones vinculadas a la entidad. Continuamos con nuestra tarea
        “desarrollando y cumpliendo sueños” hasta cuando Dios nos lo permita…
      </p>
    </div>
    <img
      class="logo-negro"
      src="../../../../assets/image/logo-removebg.png"
      alt="logo-negro"
    />
  </div>

  <div class="container-panel">
    <div class="panel">
      <h2 class="title-panel">"Visión empresarial"</h2>
      <p>
        Seremos reconocidos como una organización líder por su modelo
        revolucionario e innovador cuyo valor agregado está enfocado en el
        desarrollo integral de sus clientes y beneficiarios.
      </p>
    </div>
    <div class="panel">
      <h2 class="title-panel">"Misión empresarial"</h2>
      <p>
        Ser una organización consiente que genera soluciones integrales en pro
        de el desarrollo agroindustrial/empresarial, el socioeconómico &
        educativo de sus clientes y beneficiarios. Satisfaciendo sus necesidades
        y superando sus expectativas.
      </p>
    </div>
  </div>
</div>
<app-paneles-compromiso></app-paneles-compromiso>

<div class="container-txt-proyecto-vida">
  <p>
    <span class="resaltado-txt">Formar parte</span> de esta entidad hace que seamos desde el primer día una pieza
    fundamental para lograr el objetivo que tenemos como organización, el cual
    parte de elementos que conforman nuestro plan estratégico como: la misión,
    la visión, los principios, los objetivos, los valores y entre otras
    directrices entregadas por la alta dirección en pro de generar una
    transformación en la realidad de las personas que pertenecen a los diversos
    proyectos y programas
  </p>

  <p>
    <span class="resaltado-txt">Hoy los invito</span> a que cada uno analice cómo está contribuyendo al
    cumplimiento de nuestras metas y objetivos, a que cada uno sea consciente de
    que esta oportunidad es para volver realidad los sueños de los beneficiarios
    y asociados. teniendo la convicción de que desde la corporación oasis de
    sueños es posible lograr nuestros objetivos. Yo lo hago posible, ustedes lo
    hacen posible y sus familias con su acompañamiento constante lo hacen
    posible…
  </p>
</div>
