<section class="panel">
    <h2 class="frase">Atrévete a soñar de la mano de <span>oasis de sueños.</span></h2>
</section>

<section class="pilares section" id="pilares">
    <h2 class="section__title">Nuestros Pilares</h2>

    <div class="pilares__container container grid">
        <article class="pilares__card">
            <img src="../../../../assets/image/agricultura.jpg" alt="pilares image" class="pilares__img">

            <h3 class="pilares__name">Agricultura</h3>
            <span class="pilares__description">Apoyamos al campesino</span>
            
            <button class="pilares__button">
                <i class="fa-sharp fa-solid fa-plus"></i>
            </button>
        </article>

        <article class="pilares__card">
            <img src="../../../../assets/image/moderno.jpg" alt="pilares image" class="pilares__img">

            <h3 class="pilares__name">Modernidad</h3>
            <span class="pilares__description">Proyeccion y metas</span>

            <button class="pilares__button">
                <i class="fa-sharp fa-solid fa-plus"></i>
            </button>
        </article>
        <article class="pilares__card">
            <img src="../../../../assets/image/finanzas.jpg" alt="pilares image" class="pilares__img">

            <h3 class="pilares__name">Finanzas</h3>
            <span class="pilares__description">Te ayudamos a manejar tus finanzas</span>

            <button class="pilares__button">
                <i class="fa-sharp fa-solid fa-plus"></i>
            </button>
        </article>
    </div>
</section>