.panel{
    height: 500px;
    background-image: url(../../../../assets/image/flor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-bottom: 1px solid #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase{

    font-weight: bold;
    font-size: 3.3em;
    color: #fff;
}
span{
    color: #51C4B6;
}
span:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/*Clases reusables */
.container{
    max-width: 1024px;
    margin-inline: 1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding-block: 5rem 1rem;
}
.section__title{
    font-size: 50px;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: white;

}
/* PILARES */

.pilares{
    margin-top: 70px;
}

.pilares__container{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.pilares__card{
    position: relative;
    width: 300px;
    background-color:transparent;
    height: 500px;
    box-shadow: 0 10px 20px #CEB9EF;
    border: 1px solid #CEB9EF;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: background 1s;
    overflow: hidden;
    padding: 10px;
}



.img-pilares{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.img-agro-ambiental{
    background-image: url('../../../../assets/image/bosque.jpg');
    
}

.img-bienes-raices{
    background-image: url('../../../../assets/image/bienes-raices.jpg');
    background-position: left;
}

.img-edu-financiera{
    background-image: url('../../../../assets/image/img-edufinanzas.jpg');
}

.pilares__name{
    font-size: 2em;
    margin-bottom: .25rem;
}

.pilares__description{
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 1rem;
}

.pilares__button{
    display: flex;
    background-color: #fff;
    padding: 6px;
    bottom: 2rem;
    border-radius: 50%;
    border: none;
    outline: none;
    color: black;
    font-size: 1.25rem;
    box-shadow: 0 4px 20px hsla(19, 64%, 20%, .2);
    position: absolute;
    right: 1.25rem;
    cursor: pointer;
    transition: background .4s;
}

.pilares__button:hover{
    background-color: #CEB9EF;
}
.pilares__card:hover .img-pilares{
    transition: 0.5s;
}
.img-pilar{
    transition: 1s;
    height: 100px;
}
.pilares__card:hover .img-pilar{
}

/* animacion */
@keyframes pilar {
    0%{
        width: 300px;
    };

    25%{
        width: 200px;
    }
    50%{
        width: 100px;
    }

    75%{
        width: 50px;
    }

    100%{
        width: 0px;
    }

}