<section class="panel">
  <h2 class="frase">
    Atrévete a soñar de la mano de <span>oasis de sueños.</span>
  </h2>
</section>

<section class="pilares" id="pilares">
  <h2 class="section__title">
    <img
      class="img-pilar"
      src="../../../../assets/image/pilar.png"
      alt="pilar"
    />Nuestros Pilares<img
      class="img-pilar"
      src="../../../../assets/image/pilar.png"
      alt="pilar"
    />
  </h2>

  <div class="pilares__container">
    <article class="pilares__card">
      <div class="img-agro-ambiental img-pilares"></div>
      <h3 class="pilares__name">Agro/Ambiental</h3>
      <p class="pilares__descripcion">
        estudio, analicis, Desarrollo y puesta en marcha de Proyectos
        productivos ideas de negocio e iniciativas comunitarias.
      </p>
      <img
        class="icono-pilar"
        src="../../../../assets/image/plantando.png"
        alt="plantado"
      />
    </article>

    <article class="pilares__card card_reverse">
      <div class="img-bienes-raices img-pilares"></div>
      <img
        class="icono-pilar"
        src="../../../../assets/image/casa.png"
        alt="casa"
      />
      <p class="pilares__descripcion">
        Inmoviliario y jurídico Fincas, Lotes, Casas, Aptos, Locales
        Agro/ferreteria, y mas...
      </p>
      <h3 class="pilares__name">Bienes/Raíz</h3>
    </article>
    <article class="pilares__card">
      <div class="img-edu-financiera img-pilares"></div>
      <h3 class="pilares__name">Edu/Financiero</h3>
      <p class="pilares__descripcion">
        Hoom school mentor&N Clubes – grupos: turísticos, ambien
      </p>
      <img
        class="icono-pilar"
        src="../../../../assets/image/pagar.png"
        alt="pagar"
      />
    </article>
  </div>
</section>
<section>
  <div class="container-unete-corp">
    <div class="opacado"></div>
    <div class="unete-container">
      <h1 class="title__unete">ÚNETE A LA CORPORACIÓN</h1>
      <p class="info">
        Formar parte de esta entidad hace que seamos desde el primer día una
        pieza fundamental para lograr el objetivo que tenemos como organización,
        el cual parte de elementos que conforman nuestro plan estratégico como:
        la misión, la visión, los principios, los objetivos, los valores y entre
        otras directrices entregadas por la alta dirección en pro de generar una
        transformación en la realidad de las personas que pertenecen a los
        diversos proyectos y programas.
      </p>
      <div class="container-btn-unete">
        <button class="btn unete">Únete</button>
        <button class="btn corp">Contratación</button>
        <button class="btn provedngor">Se un Proveedor</button>
      </div>
    </div>
  </div>
</section>
<!-- <script>
    window.addEventListener('scroll', function () {
            let value = window.scrollY;

            info.style.top = 59  + value * -0.5 + '%';
</script> -->
