<main class="l-main">
    <section class="portfolio section" id="portfolio">
        <h2 class="section-title">Más acerca de Nosotros</h2>

        <div class="portfolio__container bd-grid">
            <div class="portfolio__img">
                <img src="../../../../assets/image/work1.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">Centros de Investigación</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="../../../../assets/image/work2.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">Junta Directiva</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="../../../../assets/image/work3.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">Grupos de Investigación</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="../../../../assets/image/work4.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">Transparencia</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="../../../../assets/image/work5.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">Directorio</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="../../../../assets/image/work6.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">Nuestros Investigadores</a>
                </div>
            </div>
        </div>
    </section>
</main>