

.container-nav {
box-shadow: 3px 0px 5px #000;
height: 80px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 80px;

}

p{
    width: 150px;
    text-align: center;
    font-family:'Merriweather', serif;
    font-weight: 700;
}


img {
    width: 170px;
    justify-self: flex-start;
  }
  

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-self: center;
    height: 100%;
}


a{
    color: rgb(27, 27, 27);
    text-decoration: none;
    font-weight: 300;
    margin-left: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    transition: 0.5s;
}

a:hover{
    background-color: #77c3fd34;
}

i{
    margin-right: 5px;
    color: #1AA94F;
}


