<div #asNavBar class="container-nav">
  <nav class="panel-navegacion">
    <div class="container-logo">
      <a class="container-logo-movil" routerLink="/"><img src="../../../assets/image/logo-removebg.png"
          alt="logo" /></a>
      <p class="txt-logo">Corporación Oasis de Sueños</p>
    </div>
    <ul>
      <li><a class="txt-btn-router" routerLink="/" data-text="Home">Home<i class="fa-solid fa-house"></i></a></li>
      <li><a class="txt-btn-router" routerLink="/quienes-somos" data-text="Quiénes somos">Quiénes somos<i class="fa-solid fa-question"></i></a></li>
      <li><a class="txt-btn-router" routerLink="/nosotros" data-text="Nosotros">Nosotros<i class="fa-solid fa-exclamation"></i></a></li>  
    </ul>
    <!--<ul>
      <li class="btn-router">
        <a routerLink="/inicio"><i class="fa-solid fa-house"></i>Inicio</a>
      </li>
      <li class="btn-router">
        <a routerLink="/quienes-somos"><i class="fa-solid fa-question"></i>Quienes somos</a>
      </li>
      <li class="btn-router">
        <a routerLink="/nosotros"><i class="fa-solid fa-exclamation"></i>Nosotros</a>
      </li>
    </ul>-->
    <a href="#" class="btn-registrarse" data-text="Registrarse">Iniciar Sesión<i class="fa-solid fa-arrow-right-to-bracket"></i></a>
  </nav>
</div>

<div class="container-btn-nav">
  <img class="logo-movil" src="../../../assets/image/logo.svg" alt="logo" />
  <button #asBtnBars (click)="activador()" class="btn-bars">
    <i class="fa-solid fa-bars"></i>
  </button>
</div>